<div class="container">
  <h2>Las rutas disponibles</h2>
  <ul class="list-group">
    <li class="list-group-item"> 
      <h4 class="list-group-item-heading">Gran Via 1, Madrid - BBVA, Las Tablas</h4> 
      <span class="badge">12 personas inscritas</span>

      <p class="list-group-item-text">Hora Salida: 8.00</p>
      <p class="list-group-item-text">Hora Llegada: 8.35</p>
      
      <a ui-sref="login" class="btn btn-info" style="float:right;" role="button">Inscribirme</a>
      <br clear="both">
     	
    </li>
    
     <li class="list-group-item"> 
      <h4 class="list-group-item-heading">Gran Via 1, Madrid - BBVA, Las Tablas</h4> 
      <span class="badge">22 personas inscritas</span>

      <p class="list-group-item-text">Hora Salida: 14.00</p>
      <p class="list-group-item-text">Hora Llegada: 14.35</p>
      
      <a ui-sref="login" class="btn btn-info" style="float:right;" role="button">Inscribirme</a>
      <br clear="both">
     	
    </li>

  </ul>
</div>