<div class="container">
  <h2>Mis Rutas</h2>
  <ul class="list-group">
    <li class="list-group-item"> 
      <h4 class="list-group-item-heading">Gran Via 1, Madrid - BBVA, Las Tablas</h4> 
      <span class="badge">1 persona inscrita</span>

      <p class="list-group-item-text">Hora Salida: 8.00</p>
      <p class="list-group-item-text">Hora Llegada: 8.35</p>
      <br clear="both">
     	
    </li>
    
    

  </ul>
 <a ui-sref="home" class="" role="" style="float:right">Volver a la Home</a>
</div>


