

<div class="row">
  <div class="col-md-12">
  <h2>Información de la Orden</h2>  
  <div>
  	<p><b>Empresa:</b> BusingMe</p>
  	<p><b>Terminal:</b> 335678804-1</p>
  	<p><b>Orden:</b> 154421805MU</p>
  	<p><b>Fecha:</b> 13-11-2016</p>
  	<p><b>Descripción del producto:</b> Ruta</p>

  </div>
  <br clear="both">
   <h2>Información de Pago</h2>  

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Nº tarjeta</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputName" placeholder="Nombre">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Fecha de expedición</label>
        <div class="col-sm-1">
          <input type="email" class="form-control" id="inputEmail" placeholder="Mes">
        </div>
        
        <div class="col-sm-1">
          <input type="email" class="form-control" id="inputEmail" placeholder="Año">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Código de seguridad</label>
        <div class="col-sm-1">
          <input type="password" class="form-control" id="inputPassword" placeholder="CCV">
        </div>
      </div>
     
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          
          <a ui-sref="misRutas" class="btn btn-info" role="button">Pagar</a>
        </div>
      </div>
    </form>


  </div>
</div>